.priceWrapper {
    font-weight: bold;
    display: flex;
    overflow: hidden;

    label {
        align-self: center;
    }

    input {
        border: none;
        font-size: 1.2em;
    }
}

@import 'common';

.addToCartButton {
    @include button-style(#00B372, #006852);
}

@import 'selectProductView';