.productView {
    padding: 50px;
    background-color: white;
}

.productPicture {
    width: 100%;
    display: inline-block;    
}

img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.infoSection {
    display: inline-block;
    vertical-align: top;
    line-height: 25px;
    font-size: 1.2em;
}

@import 'productForm';

@media screen and (min-width: 900px) {
    .productView {
        width: 50%;
    }

    .productPicture {
        width: 55%;
    }

    .infoSection {
        width: 35%;
        margin-left: 7%;
    }
}