body {
    margin: 0;
    background-color: #FEC956;
}

#main {
    padding: 20px;
    

    .componentsWrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
}

@import 'productView';
@import 'cartView';


@media screen and (min-width: 900px) {
    #main {
        padding: 120px 0;

        .componentsWrapper {
            
            justify-content: flex-end;
            align-items: flex-start;
            flex-direction: row;
        }
    }
}